@import '../../assets/colors.scss';

.terminalContainer{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	.terminal{
		width: 70vw;
		height: 80vh;
		border: solid 2px grey;
		background-color: $background3;
		border-radius: 10px;
		padding: 15px;
		
		span{
			color: $text1;
		}

		.prompt{
			display: flex;
		}

		p{
			font-size: 1.6vw;
			color: $text2;
		}
		.userText{
			color: $text3;
		}
	}
}