@import '../../assets/colors.scss';

.terminalContainer{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	.terminal{
		width: 70vw;
		height: 80vh;
		border: solid 2px grey;
		
		overflow-y: auto;
		overflow: hidden;
		
		background-color: $background3;
		border-radius: 10px;
		padding: 15px;
		
		span{
			color: $text1;
		}

		p, pre{
			font-size: 1.6vw;
			color: $text2;
		}
		.white{
			color: $text3;
		}
		.userText{
			color: $text3;
		}
		.terminalPrompt{
			display: flex;			
		}
		.terminalPrompt input{
			
			width: 100%;		
		}

		.input_prompt{
			background-color: $background3;
			border: none;
			font-size: 1.6vw;
			color: white;
			outline: none;
		}
		.command_output{
			display: flex;
			padding: 3px 0px;
			width: 100%;
			p{
				margin-right: 20px;
			}
			.dir{
				// color: $text1_1;
			}
			.exec{
				// font-style: italic;
				color: $text3;
			}
			.file{
				color: $text3;
			}
		}
	}
}